.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  /*background-color: #222;*/
  background-color: #8C4E17;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  /*  font-size: 1.5em;*/
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  /* line-height: 26.4px; */
}
.App-intro {
  font-size: large;
}
/* .video-img-box {
  width: 35vw;
  height: 19.6875vw;
  margin: 6px;
} */

.WebCamVideo,
.City {
  width: 23vh;
  height: 13vh;
  margin: 3px;
}
.CountryButton {
  width: 23vh;
  height: 13vh;
  margin: 6px;
  border-radius: 30px;
}
/*  .City{
  width:30vw;
  height:30vw;
  margin:6px;
  }
*/
.clock_span{
  border-radius: 8px;
  background-color: rgba(255,255,255, 0.5);

}

/* button that returns visitor on the start page (viewing of countries): */
.BackButton {
  margin-top: 0;
  width: 90vw;
  height: 12vw;
}
.button_back {
  display: inline-block;
  border-radius: 8px;
  background-color: #DEB887;
  /* background-color: #6495ED; */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 0;
  /*  width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button_back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button_back span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button_back:hover span {
  padding-right: 25px;
}
.button_back:hover span:after {
  opacity: 1;
  right: 0;
}
/* images for button of countries: */
.EuropeImg {
  background: url("../images/countries/Germany.jpg");
  background-size: cover;
  cursor: pointer;
}
.AsiaImg {
  background: url("../images/countries/Pecin.jpg");
  background-size: cover;
  cursor: pointer;
}
.AmericaImg {
  background: url("../images/countries/NewYork.jpg");
  background-size: cover;
  cursor: pointer;
}
.AfricaImg {
  background: url("../images/countries/Kilimanjaro.jpg");
  background-size: cover;
  cursor: pointer;
}
/*hover effect#1 of Country button*/
/* .grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
} */
.Country {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 5vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  /* line-height: 26.4px; */
  /* line-height: 26.4px; */
}
.CenturyGothicCommon {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1em;
  font-style: bold;
  font-variant: normal;
  font-weight: 500;
  /* line-height: 26.4px; */
}
/* images for button of countries: */
.light {
  color: #FFCB9C;
}
.dark {
  color: #8C4E17;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 468px) {

  .WebCamVideo,
  .City {
    width: 53vh;
    height: 30vh;
    margin: 6px;
  }
  .CountryButton {
    width: 30vw;
    height: 19.6875vw;
    margin: 6px;
    border-radius: 30px;
  }
  .BackButton {
    margin-top: 0.3vw;
    width: 98vw;
    height: 5vw;
    font-size: 30px;
  }
  .App-header {
    /* display: none; */
  }
  .CenturyGothicCommon {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    font-style: bold;
    font-variant: normal;
    font-weight: 500;
    /* line-height: 26.4px; */
  }
}
